<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id="app">
    <template>
        <div class="table-responsive">
            <table class="table-hover" v-if="info">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Summary</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in info">
                        <td>{{ item.id }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.summary }}</td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </template>
    </div>
    <script>
    new Vue({
      el: '#app',
      data () {
        return {
          info: null
        }
      },
      mounted () {
            axios({
          method: 'get',
           // a changer
          url: 'http://help.frebourg.es/api/index.php/chambre/',
          responseType: 'json',
         /* data: {
            firstName: 'Fred',
            lastName: 'Flintstone'
          }*/
        })
           .then(async res => { 
             if(res.status === 200) { 
                   alert('Ok!');
                  // a changer pour obtneir le tableau de data
                   this.info=res;
              } else if(res.status === 400) { 
                  let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
           });
      }
    })
    </script>