
.container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 5px solid #53af57;
}
.container h1{
    width: 38%;
    color: wheat;
    margin: 0 auto;
    padding-bottom: 10px;
}
body{
  background: linear-gradient(70deg,purple, black);
}

.container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:40%;
    margin: 200 auto;
    padding: 20px;
    border: 4px solid #fff;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 250px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

/* Full-width inputs */
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 30px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 10px 0;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

